*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url("../images/weather_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
    width: 100%;
    height: 100vh;   
}

.heading {
    margin: 50px;
    margin-bottom: 0;
    font-size: 2.5rem;
    color: yellow;
}
body>p{
    margin-bottom: 50px;
    color: white;
}

/* Dropdown Styles */
select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background: white;
    margin: 30px;
}

select:focus {
    outline: none;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}


/* Weather Forecast Cards */
.results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); 
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.weather-card {
    border-radius: 15px;
    padding: 15px;
    max-width: 140px; 
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    
}

.weather-card:hover {
    background: rgba(255, 255, 255, 0.15);
}

/* Weather Icon */

.date {
    font-size: 1.2rem;  
    font-weight: bold;  
   color: black;
    text-align: center;  
    margin-bottom: 10px;  
}

.weather-card img {
    margin-top: 10px;
}

/* Temperature Details */
.details h3 {
    text-transform: uppercase;
    color: white;
    margin: 10px 0 5px;
    font-size: 1.3rem;
}

.details p {
    font-size: 1.1rem;
    margin: 3px 0;
}

/* Footer */
footer {
    margin: 70px;
    padding: 50px;
    color: black;
}
.copyright-text{
    margin: 0;
    padding: 0;
    text-align: center;
}


@media screen and (max-width: 1024px) {
   *{
        padding: 15px;
        margin: 50px auto;
   }
   .heading, h2{
        font-size: 6.1rem;
        margin-bottom: 0;
   }
   body>p{
        font-size: 1.7rem;
   }
   select{
        font-size: 4rem;
        margin: 0;
   }
   option{
        font-size: 1rem;
   }

   .results {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Adjust min width */
        gap: 5px;
        padding: 10px;
    }

    .weather-card {
        border-radius: 15px;
        padding: 15px;
        width: 100%;
        max-width: 350px; 
        text-align: center;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in-out;
    }

    .weather-card img {
        margin: 0;
        width: 300px;
    }

    .date{
        font-size: 3rem;
    }
    .details h3 {
        font-size: 2.5rem;
    }
    
    .details p {
        font-size: 2.3rem;
    }
    footer {
        margin: 0px;
        padding: px; 
    }    
   
}

